@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul,
li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri; }

li {
  list-style: none; }

@font-face {
  font-family: 'Balqis';
  src: url("../fonts/Balqis.eot");
  src: local("☺"), url("../fonts/Balqis.woff") format("woff"), url("../fonts/Balqis.ttf") format("truetype"), url("../fonts/Balqis.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.header-body-content__title, .section-body__title {
  font-family: 'Balqis';
  font-weight: normal;
  font-style: normal; }

body {
  height: 100%;
  min-width: 320px; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px; }

.header {
  background: url("../img/bg.jpg") bottom no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.header-body__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0 0 0;
  margin: 0 0 50px 0; }

@media (max-width: 650px) {
  .header-body__top {
    display: block;
    text-align: center;
    padding: 20px 0 0 0; } }

.header-body-nav__list {
  display: flex; }
  .header-body-nav__list li {
    margin-right: 52px; }
    .header-body-nav__list li:last-child {
      margin: 0px; }
  @media (max-width: 650px) {
    .header-body-nav__list {
      display: block;
      text-align: center; }
      .header-body-nav__list li {
        margin: 0 0 30px 0; }
        .header-body-nav__list li:last-child {
          margin: 20px; } }

.header-body-nav__link, .header-body-contacts__link {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000; }
  .header-body-nav__link:hover, .header-body-contacts__link:hover {
    text-decoration: underline; }
  @media (max-width: 650px) {
    .header-body-nav__link, .header-body-contacts__link {
      font-weight: 600; } }

.header-body-contacts__link {
  background: url("../img/phone.svg") left -2px no-repeat;
  padding-left: 35px; }

.header-body-content__title {
  font-size: 250px;
  text-align: center; }

.header-body-content__subtitle {
  display: block;
  text-align: right;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 300;
  font-size: 56px; }

@media (max-width: 1060px) {
  .header-body-content__title {
    font-size: 150px;
    margin-top: 15%; }
  .header-body-content__subtitle {
    font-size: 40px; } }

@media (max-width: 650px) {
  .header-body-content__title {
    font-size: 100px;
    margin-top: 5%; }
  .header-body-content__subtitle {
    text-align: center;
    margin-top: 10px; } }

@media (max-width: 455px) {
  .header-body-content__title {
    font-size: 70px;
    margin-top: 30%; }
  .header-body-content__subtitle {
    font-size: 30px; } }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex;
  overflow: hidden;
  flex: 0 0 50%; }

.section {
  overflow: hidden; }

.section-body {
  margin-top: 200px; }
  @media (max-width: 1400px) {
    .section-body {
      margin-top: 80px; } }
  @media (max-width: 800px) {
    .section-body {
      margin-top: 30px; } }
  .section-body__title {
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F; }
    @media (max-width: 800px) {
      .section-body__title {
        font-size: 80px;
        text-align: center; } }
  .section-body__subtitle {
    margin-bottom: 100px;
    margin-top: -25px;
    margin-left: 240px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px; }
    @media (max-width: 1400px) {
      .section-body__subtitle {
        margin-bottom: 50px; } }
    @media (max-width: 800px) {
      .section-body__subtitle {
        margin: 0 0 10px 0;
        text-align: center; } }

.section-body__section {
  position: relative;
  z-index: 2; }

.section-body__slider {
  width: 50%;
  position: relative; }
  @media (max-width: 850px) {
    .section-body__slider {
      order: 2;
      width: 100%; } }

.section-body__image {
  position: relative;
  min-height: 430px;
  z-index: 2; }
  .section-body__image img {
    width: 100%;
    height: 100%; }

.section-body__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
  @media (max-width: 850px) {
    .section-body__content {
      position: relative; } }

.section-body__container, .section-body .hotel__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: -1; }

.section-body__text {
  width: 50%;
  padding-left: 50px;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  @media (max-width: 1400px) {
    .section-body__text {
      line-height: 18px;
      font-size: 16px; } }
  @media (max-width: 850px) {
    .section-body__text {
      padding-left: 0;
      width: 100%;
      margin-top: 20px; } }
  .section-body__text p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px; }
    @media (max-width: 1400px) {
      .section-body__text p {
        line-height: 18px;
        font-size: 16px; } }
  .section-body__text span {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block; }
    @media (max-width: 865px) {
      .section-body__text span {
        margin-bottom: 5px;
        margin-bottom: 10px; } }
  .section-body__text li {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px; }

.slick-prev, .slick-next {
  position: absolute;
  z-index: 10;
  border: none;
  background: none;
  top: 50%;
  transform: translate(0, -50%); }

.slick-next {
  right: 0; }

.hotel {
  position: relative; }
  .hotel__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    @media (max-width: 1100px) {
      .hotel__content {
        position: relative; } }
  .hotel__text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 1100px) {
      .hotel__text {
        width: 100%;
        align-items: center; } }
    .hotel__text li {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px; }
  .hotel__day {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
    display: block; }
  @media (max-width: 1810px) {
    .hotel__programs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 10px; } }
  @media (max-width: 1100px) {
    .hotel__programs {
      padding: 0;
      margin: 0 0 20px 0; } }
  .hotel__items {
    padding: 0 10px; }
  .hotel__btn {
    border: 1px solid #E2AB3F;
    display: inline-flex;
    padding: 0 53px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-family: Roboto Condensed;
    font-size: 24px;
    line-height: 28px;
    transition: all 0.8s;
    color: #000000; }
    .hotel__btn:hover {
      background: rgba(146, 169, 175, 0.285); }
  .hotel__slider {
    position: relative;
    margin-left: auto;
    width: 50%;
    height: 100%;
    z-index: 2; }
    @media (max-width: 1100px) {
      .hotel__slider {
        width: 100%;
        margin-top: 20px; } }
  .hotel__image img {
    width: 100%; }

.hotel__row {
  display: flex; }
  @media (max-width: 1100px) {
    .hotel__row {
      display: block; } }

.hotel__column {
  flex: 1 0 50%; }

.hotel__images {
  margin-right: 50px;
  max-width: 100%; }
  .hotel__images img {
    max-width: 100%; }
    @media (max-width: 1100px) {
      .hotel__images img {
        width: 100%; } }
  @media (max-width: 1100px) {
    .hotel__images {
      margin-right: 0;
      margin-bottom: 20px; } }

.hotel__texttt p {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 20px 0; }
  .hotel__texttt p:last-child {
    margin: 0; }
  @media (max-width: 1180px) {
    .hotel__texttt p {
      margin: 0 0 10px 0; } }

.hotel__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px; }
  .hotel__gallery a {
    position: relative;
    margin-bottom: 50px; }

.price {
  background: url("../img/balone.png") right 120px no-repeat; }
  @media (max-width: 1180px) {
    .price {
      background: none; } }
  .price__row {
    display: flex;
    margin: 0 -35px; }
    @media (max-width: 1180px) {
      .price__row {
        margin: 0 -10px; } }
  .price__column {
    flex: 1 0 50%;
    padding: 0 35px; }
    @media (max-width: 1180px) {
      .price__column {
        padding: 0 10px; } }
  .price__item p {
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 20px 0; }
  .price__name {
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 50px 0; }

.price__roww {
  margin: 200px 0 0 0;
  align-items: center; }
  @media (max-width: 1400px) {
    .price__roww {
      margin: 80px 0 0 0; } }
  @media (max-width: 750px) {
    .price__roww {
      flex-direction: column-reverse; } }

.price__formm {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  order: 2; }
  .price__formm label {
    font-family: Roboto Condensed;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 50px 0;
    display: block; }
  .price__formm input {
    display: block;
    border: 1px solid #E2AB3F;
    padding: 0 15px;
    width: 383px;
    height: 50px;
    margin: 0 0 20px 0; }
    @media (max-width: 1400px) {
      .price__formm input {
        width: 100%; } }

.price__action :nth-child(3) {
  margin-left: 120px; }
  @media (max-width: 360px) {
    .price__action :nth-child(3) {
      margin-left: 30px; } }

.price__action :nth-child(4) {
  margin-left: 230px; }
  @media (max-width: 360px) {
    .price__action :nth-child(4) {
      margin-left: 70px; } }

.price__tex {
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: block;
  margin-left: 130px;
  margin-bottom: 20px; }
  @media (max-width: 360px) {
    .price__tex {
      margin-left: 15px; } }

.price__number {
  font-family: Balqis;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 69px;
  color: #E2AB3F; }

.price__btn {
  padding: 0 45px; }

@media (max-width: 600px) {
  .price__images {
    margin: 0 0 20px 0; } }

.price__images img {
  max-width: 100%; }

.footer {
  margin-top: 200px;
  background: url("../img/bg2.jpg") center no-repeat;
  background-size: cover;
  padding: 97px 0 557px 0; }
  @media (max-width: 800px) {
    .footer {
      padding: 20px 0 50px 0;
      margin-top: 80px; } }
  .footer__body {
    display: flex;
    align-items: center; }
    @media (max-width: 990px) {
      .footer__body {
        flex-direction: column;
        text-align: center; } }
  .footer__contacts {
    background: url("../img/bg3.png") center no-repeat;
    width: 356px;
    height: 527px;
    display: flex;
    flex-direction: column;
    padding: 71px 0 0 0;
    align-items: center; }
    .footer__contacts span {
      font-family: Balqis;
      font-style: normal;
      font-weight: normal;
      font-size: 86px;
      line-height: 115px;
      margin: 0 0 50px 0;
      color: #E2AB3F; }
  .footer__number {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 30px 0; }
    .footer__number_phone, .footer__number_mail {
      background: url("../img/tel.svg") left no-repeat;
      padding: 0 0  0 40px;
      color: #000000; }
    .footer__number_mail {
      background: url("../img/mail.svg") left no-repeat; }
  .footer__link {
    margin-left: 10px; }
  .footer__copy {
    font-family: Balqis;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 115px;
    margin-left: auto; }
